p {
  font-size: 25px;
}

body {
  background-color: #000;
  background-image: url(img/grid1.svg);
}

a {
  font-weight: bold;
}

button {
  background: #c4eef2;
  border-color: #537bc3;
  border-radius: 8px;
}

li {
  list-style-type: circle;
  margin-top: 10px;
}

li li {
  list-style-type: square;
}

img {
  margin-top: 50px;
}

.nota {
  color: #3e5b91;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.container {
  margin: 0 auto;
  overflow-y: hidden;
  padding: 0 50px;
  width: 815px;
  margin-bottom: 15px;
  background-color: antiquewhite;
  font-family: "Overpass", sans-serif;
}

.contato {
  color: #537bc3;
  border-radius: 8px;
}

.titulos {
  margin-top: 40px;
}

footer {
  color: #c4eef2;
  text-align: center;
}
