p {
  font-size: 25px;
}

body {
  background-color: #000;
  background-image: url(img/grid1.svg);
}

a {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 10px;
  color: #ef2828;
  background-color: rgba(255, 255, 255, 0.079);
  box-shadow: 6px 6px 12px #131313, -6px -6px 12px #292929;
  font-size: medium;
  font-weight: bold;
}

li {
  list-style-type: circle;
  margin-top: 10px;
}

li li {
  list-style-type: square;
}

img {
  margin-top: 50px;
}

.nota {
  color: #ed0d0d;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.container {
  color: #cccccc;
  margin: 0 auto;
  width: 60vw;
  margin-bottom: 15px;
  font-family: "Overpass", sans-serif;
  padding: 20px;
  box-shadow: 0 3rem 5rem rgba(139, 139, 139, 0.25);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.079);
  backdrop-filter: blur(200px);
  filter: blur();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contato {
  color: #ef2828;
  border-radius: 8px;
}

.titulos {
  margin-top: 40px;
  font-weight: bold;
}

footer {
  color: #f6f6f6;
  text-align: center;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}

/* MOBILE OPT */
@media (max-width: 900px) {
  img {
    max-width: 100%;
    height: auto;
  }
  .container {
    color: #f6f6f6;
    margin: 0 auto;
    width: 60vw;
    margin-bottom: 15px;
    font-family: "Overpass", sans-serif;
    padding: 20px;
    box-shadow: 0 3rem 5rem rgba(139, 139, 139, 0.25);
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.079);
    backdrop-filter: blur(200px);
    filter: blur();
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
  }
  p {
    font-size: 15px;
  }

  button {
    font-size: 10px;
  }
}
